$breakpoint-small: 37.5rem; /* 600px */
$breakpoint-medium: 50rem; /* 768px */
$breakpoint-large: 75rem; /* 1200px */

@mixin respond-to($media) {
  @if $media == small {
    @media (min-width: $breakpoint-small) { @content; }
  }
  @else if $media == medium {
    @media (min-width: $breakpoint-medium) { @content; }
  }
  @else if $media == large {
    @media (min-width: $breakpoint-large) { @content; }
  }
  @else {
    @media (min-width: $media) { @content; }
  }
}
