@use 'sass:color';

/*
  base colors
*/

$linen: hsl(345, 9%, 84%);      // #E8E3E4
$peach: hsl(15, 55%, 66%);      // #E98867
$rose: hsl(345, 45%, 40%);      // #94384F

/*
  color lightness scale:
  10    99 (foreground - dark theme)
  20    95 (background - light theme)
  30    90
  40    84 (border - light theme)
  50    75 (primary - dark theme)
  60    66
  70    53
  80    40 (primary - light theme)
  90    32 (border - dark theme)
  200   25
  110   20 (background - dark theme)
  120   16 (foreground - light theme)
*/

$color: (
  main: (
    linen: $linen,
    peach: $peach,
    rose: $rose,
  ),

  linen: (
    10: color.change($linen, $lightness: 99%),
    20: color.change($linen, $lightness: 95%),
    30: color.change($linen, $lightness: 90%),
    40: color.change($linen, $lightness: 84%),
    50: color.change($linen, $lightness: 75%),
    60: color.change($linen, $lightness: 66%),
    70: color.change($linen, $lightness: 53%),
    80: color.change($linen, $lightness: 40%),
    90: color.change($linen, $lightness: 32%),
    100: color.change($linen, $lightness: 25%),
    110: color.change($linen, $lightness: 20%),
    120: color.change($linen, $lightness: 16%),
  ),

  peach: (
    10: color.change($peach, $lightness: 99%),
    20: color.change($peach, $lightness: 95%),
    30: color.change($peach, $lightness: 90%),
    40: color.change($peach, $lightness: 84%),
    50: color.change($peach, $lightness: 75%),
    60: color.change($peach, $lightness: 66%),
    70: color.change($peach, $lightness: 53%),
    80: color.change($peach, $lightness: 40%),
    90: color.change($peach, $lightness: 32%),
    100: color.change($peach, $lightness: 25%),
    110: color.change($peach, $lightness: 20%),
    120: color.change($peach, $lightness: 16%),
  ),

  rose: (
    10: color.change($rose, $lightness: 99%),
    20: color.change($rose, $lightness: 95%),
    30: color.change($rose, $lightness: 90%),
    40: color.change($rose, $lightness: 84%),
    50: color.change($rose, $lightness: 75%),
    60: color.change($rose, $lightness: 66%),
    70: color.change($rose, $lightness: 53%),
    80: color.change($rose, $lightness: 40%),
    90: color.change($rose, $lightness: 32%),
    100: color.change($rose, $lightness: 25%),
    110: color.change($rose, $lightness: 20%),
    120: color.change($rose, $lightness: 16%),
  ),
);

/*
  color accessor function
*/

@function color($keys...) {
  $value: $color;

  @if length($keys) == 1 and (
    nth($keys, 1) == linen or
    nth($keys, 1) == peach or
    nth($keys, 1) == rose
  ) {
    @return color(main, nth($keys, 1));
  }

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}

/*
  primitive design tokens
*/

:root {
  --color-neutral: #{color(linen)};
  --color-primary: #{color(rose)};
  --color-secondary: #{color(peach)};

  --color-neutral-10: #{color(linen, 10)};
  --color-neutral-20: #{color(linen, 20)};
  --color-neutral-30: #{color(linen, 30)};
  --color-neutral-40: #{color(linen, 40)};
  --color-neutral-50: #{color(linen, 50)};
  --color-neutral-60: #{color(linen, 60)};
  --color-neutral-70: #{color(linen, 70)};
  --color-neutral-80: #{color(linen, 80)};
  --color-neutral-90: #{color(linen, 90)};
  --color-neutral-100: #{color(linen, 100)};
  --color-neutral-110: #{color(linen, 110)};
  --color-neutral-120: #{color(linen, 120)};

  --color-primary-10: #{color(rose, 10)};
  --color-primary-20: #{color(rose, 20)};
  --color-primary-30: #{color(rose, 30)};
  --color-primary-40: #{color(rose, 40)};
  --color-primary-50: #{color(rose, 50)};
  --color-primary-60: #{color(rose, 60)};
  --color-primary-70: #{color(rose, 70)};
  --color-primary-80: #{color(rose, 80)};
  --color-primary-90: #{color(rose, 90)};
  --color-primary-100: #{color(rose, 100)};
  --color-primary-110: #{color(rose, 110)};
  --color-primary-120: #{color(rose, 120)};

  --color-secondary-10: #{color(peach, 10)};
  --color-secondary-20: #{color(peach, 20)};
  --color-secondary-30: #{color(peach, 30)};
  --color-secondary-40: #{color(peach, 40)};
  --color-secondary-50: #{color(peach, 50)};
  --color-secondary-60: #{color(peach, 60)};
  --color-secondary-70: #{color(peach, 70)};
  --color-secondary-80: #{color(peach, 80)};
  --color-secondary-90: #{color(peach, 90)};
  --color-secondary-100: #{color(peach, 100)};
  --color-secondary-110: #{color(peach, 110)};
  --color-secondary-120: #{color(peach, 120)};
}

/*
  semantic design tokens
*/

:root {
  --color-background-light: var(--color-neutral-100);
  --color-background: var(--color-neutral-110);
  --color-border: var(--color-neutral-40);
  --color-foreground: var(--color-neutral-10);
}
