@use 'sass:color';

/*
  base colors
*/

$neutral: hsl(198, 8%, 84%);        // #D3D8D9
$primary: hsl(198, 55%, 32%);       // #25647E
$secondary: hsl(128, 40%, 53%);     // #57B764

/*
  color lightness scale:
  10    99 (foreground - dark theme)
  20    95 (background - light theme)
  30    90
  40    84 (border - light theme)
  50    75 (primary - dark theme)
  60    66
  70    53
  80    40 (primary - light theme)
  90    32 (border - dark theme)
  100   25
  110   20 (background - dark theme)
  120   16 (foreground - light theme)
*/

$color: (
  main: (
    neutral: $neutral,
    primary: $primary,
    secondary: $secondary,
  ),

  neutral: (
    10: color.change($neutral, $lightness: 99%),
    20: color.change($neutral, $lightness: 95%),
    30: color.change($neutral, $lightness: 90%),
    40: color.change($neutral, $lightness: 84%),
    50: color.change($neutral, $lightness: 75%),
    60: color.change($neutral, $lightness: 66%),
    70: color.change($neutral, $lightness: 53%),
    80: color.change($neutral, $lightness: 40%),
    90: color.change($neutral, $lightness: 32%),
    100: color.change($neutral, $lightness: 25%),
    110: color.change($neutral, $lightness: 20%),
    120: color.change($neutral, $lightness: 16%),
  ),

  primary: (
    10: color.change($primary, $lightness: 99%),
    20: color.change($primary, $lightness: 95%),
    30: color.change($primary, $lightness: 90%),
    40: color.change($primary, $lightness: 84%),
    50: color.change($primary, $lightness: 75%),
    60: color.change($primary, $lightness: 66%),
    70: color.change($primary, $lightness: 53%),
    80: color.change($primary, $lightness: 40%),
    90: color.change($primary, $lightness: 32%),
    100: color.change($primary, $lightness: 25%),
    110: color.change($primary, $lightness: 20%),
    120: color.change($primary, $lightness: 16%),
  ),

  secondary: (
    10: color.change($secondary, $lightness: 99%),
    20: color.change($secondary, $lightness: 95%),
    30: color.change($secondary, $lightness: 90%),
    40: color.change($secondary, $lightness: 84%),
    50: color.change($secondary, $lightness: 75%),
    60: color.change($secondary, $lightness: 66%),
    70: color.change($secondary, $lightness: 53%),
    80: color.change($secondary, $lightness: 40%),
    90: color.change($secondary, $lightness: 32%),
    100: color.change($secondary, $lightness: 25%),
    110: color.change($secondary, $lightness: 20%),
    120: color.change($secondary, $lightness: 16%),
  ),
);

/*
  color accessor function
*/

@function color($keys...) {
  $value: $color;

  @if length($keys) == 1 and (
    nth($keys, 1) == neutral or
    nth($keys, 1) == primary or
    nth($keys, 1) == secondary
  ) {
    @return color(main, nth($keys, 1));
  }

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}

/*
  primitive design tokens
*/

:root {
  --color-neutral: #{color(neutral)};
  --color-primary: #{color(primary)};
  --color-secondary: #{color(secondary)};

  --color-neutral-10: #{color(neutral, 10)};
  --color-neutral-20: #{color(neutral, 20)};
  --color-neutral-30: #{color(neutral, 30)};
  --color-neutral-40: #{color(neutral, 40)};
  --color-neutral-50: #{color(neutral, 50)};
  --color-neutral-60: #{color(neutral, 60)};
  --color-neutral-70: #{color(neutral, 70)};
  --color-neutral-80: #{color(neutral, 80)};
  --color-neutral-90: #{color(neutral, 90)};
  --color-neutral-100: #{color(neutral, 100)};
  --color-neutral-110: #{color(neutral, 110)};
  --color-neutral-120: #{color(neutral, 120)};

  --color-primary-10: #{color(primary, 10)};
  --color-primary-20: #{color(primary, 20)};
  --color-primary-30: #{color(primary, 30)};
  --color-primary-40: #{color(primary, 40)};
  --color-primary-50: #{color(primary, 50)};
  --color-primary-60: #{color(primary, 60)};
  --color-primary-70: #{color(primary, 70)};
  --color-primary-80: #{color(primary, 80)};
  --color-primary-90: #{color(primary, 90)};
  --color-primary-100: #{color(primary, 100)};
  --color-primary-110: #{color(primary, 110)};
  --color-primary-120: #{color(primary, 120)};

  --color-secondary-10: #{color(secondary, 10)};
  --color-secondary-20: #{color(secondary, 20)};
  --color-secondary-30: #{color(secondary, 30)};
  --color-secondary-40: #{color(secondary, 40)};
  --color-secondary-50: #{color(secondary, 50)};
  --color-secondary-60: #{color(secondary, 60)};
  --color-secondary-70: #{color(secondary, 70)};
  --color-secondary-80: #{color(secondary, 80)};
  --color-secondary-90: #{color(secondary, 90)};
  --color-secondary-100: #{color(secondary, 100)};
  --color-secondary-110: #{color(secondary, 110)};
  --color-secondary-120: #{color(secondary, 120)};
}

/*
  semantic design tokens
*/

:root {
  --color-background-light: var(--color-neutral-100);
  --color-background: var(--color-neutral-110);
  --color-border: var(--color-neutral-40);
  --color-foreground: var(--color-neutral-10);
}
