@use '../../assets/styles/base/breakpoints.scss' as *;

.swatch-row.base {
  height: 8rem;
  margin: 0;
}

.swatch {
  $colors: 'neutral', 'primary', 'secondary';

  @each $color in $colors {
    &.#{$color} {
      background: var(--color-#{$color});
    }
  }
}

@include respond-to(small) {
  .swatch-row.base { height: 12rem; }
}

@include respond-to(large) {
  .swatch-row.base { height: 16rem; }
}
